.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

